<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotosocial Timeline</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/scripts.js" defer></script>
</head>
<body>
    <h2>Gotosocial Home Timeline</h2>
    <ul>
        {{range .Timeline}}
        <li id="post-{{.ID}}">
            <img src="{{.Account.Avatar}}" alt="avatar" class="avatar">
            <span class="username">{{.Account.Username}}</span>
            <p>{{safeHTML .Content}}</p>
            {{if hasMedia .}}
            <div class="media">
                {{range .MediaAttachments}}
                {{if eq .Type "image"}}
                <img src="{{.URL}}" alt="Image" style="max-width: 100%; height: auto;">
                {{else if eq .Type "video"}}
                <video controls style="max-width: 100%; height: auto;">
                    <source src="{{.URL}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {{end}}
                {{end}}
            </div>
            {{end}}
            <div class="icons">
                <span class="icon" onclick="toggleReplyForm('{{.ID}}')">↩️</span>
                <span class="icon" onclick="boost('{{.ID}}')">🔄</span>
                <span class="icon" onclick="favourite('{{.ID}}')">⭐</span>
            </div>
            <div id="reply-form-{{.ID}}" class="reply-form">
                <form onsubmit="submitReply(event, '{{.Account.Username}}', '{{.ID}}'); return false;">
                    <textarea id="reply-text-{{.ID}}" rows="2" cols="30" placeholder="Reply to @{{.Account.Username}}"></textarea><br>
                    <button type="submit">Send</button>
                </form>
            </div>
        </li>
        {{end}}
    </ul>
</body>
</html>
